<%- include('../partials/header') -%>

<body>
  <div class="ui inverted menu">
    <a href="/" class="active item">
      <i class="home icon"></i> Home
    </a>
  
    <!-- Notification icon indicating the user is logged in -->
    
  
    <div class="right menu">
      <div class="item">
        <i class="lightbulb lit icon"></i> Logged In
      </div>
      <!-- Option to log out -->
      <a href="/logout" class="item">
        <i class="lock icon"></i> Logout
      </a>
    </div>
  </div>
  

  <div class="ui container center aligned">
    <h1>Article</h1>
  
    <div class="ui stackable column grid">
      <div class="column">
        <% articles.forEach((article, index) => { %>
          <div class="ui card fluid">
            <div class="content">
              <a class="header" href="/article/<%= index + 1 %>"><%= article.title %></a>
              <div class="meta">
                <span class="date">Published Date: <%= article.publishedDate.toDateString() %></span>
                <span class="date">Last Modified: <%= article.lastModifiedDate.toDateString() %></span>
              </div>
              <div class="description">
                <p><%= article.summary %></p>
              </div>
            </div>
            <div class="extra content">
              <span class="tags">
                Tags: 
                <% article.tags.forEach((tag, index) => { %>
                  <a class="ui label" href="/articles/category/<%= tag %>"><%= tag %></a><%= index < article.tags.length - 1 ? ', ' : '' %>
                <% }); %>
              </span>
              <span class="qcm">
                QCM: <%= article.hasQCM ? "Yes" : "No" %>
              </span>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
   
  
    <% if (tableSize && tableSize > 10) { %>
           
      <div class="ui pagination menu">
        <% const itemsPerPage = 10; %>
        <% const totalPages = Math.ceil(tableSize / itemsPerPage); %>
        <% for (let page = 1; page <= totalPages; page++) { %>
          <a href="/articles/load-more/<%= page - 1 %>" class="item"><%= page %></a>
        <% } %>
        
      </div>
      
    <% } %>
    <br/>
  </div>

  

<%- include('../partials/footer') -%>